<xml>
<ToUserName><![CDATA[$!{toUser}]]></ToUserName>
<FromUserName><![CDATA[$!{fromUser}]]></FromUserName>
<CreateTime>$!{createTime}</CreateTime>
<MsgType><![CDATA[voice]]></MsgType>
<Image>
<MediaId><![CDATA[$!{reply.resourceId}]]></MediaId>
</Image>
</xml>