{
     "button":[
     #foreach($menu in $menus)
         {	
              "name":"$!{menu.name}",
    		  #if($menu.isFunction())
                  "type":"$!{menu.type}",
    			  #if($menu.isView())
        			"url":"$!{menu.url}"
    			  #else
    				"key":"$!{menu.eventKey}"
        		  #end	
    		  #else
    			  ##Ò»¼¶²Ëµ¥
    			  "sub_button":[
    			  #foreach($subMenu in $menu.subMenus)
    				{
    					"name":"$!{subMenu.name}",
    					"type":"$!{subMenu.type}",
            			 #if($subMenu.isView())
    						"url":"$!{subMenu.url}"
            			 #else
            				"key":"$!{subMenu.eventKey}"
                		 #end	
    				}
    				#if($velocityCount < $menu.subCount()) 
                		,
                	#end
    			  #end	
               ]
    			  
    		  #end	
          }
    	 
    	 #if($velocityCount < $menus.size()) 
    		,
    	 #end

	 #end
	 
     ]
 }